<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center reason" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-sine">
        <p>"Calling 311 to report pothole is pretty simple and straight forward...</p>
        <p>but why can't it be more <i>more </i>simple and straightforward?"</p>
         <small>- a smartphone user living in Ottawa</small>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
