<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center reason" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-sine">
        <p style="margin-bottom: 16px">"Calling 311 to report pothole is pretty simple and straight forward...</ br>
        but why can't it be more <i>more </i>simple and straightforward?"</p>
         <p style="font-size:16px">- a smartphone user living in Ottawa</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
