<header class="header container-fluid">
  <div class="row">
    <div class="col col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="logo-motto">
          <img id="logo" data-aos="fade-up" data-aos-duration="1000" src="img/snaphole-app-icon.png" width="156px">
          <div id="hero" data-aos="fade-up" data-aos-duration="1000">
            <h1>SnapHole</h1>
            <h3>Snap a photo. Report a pothole.</h3>
            <h3>Keep Ottawa street safe & wholesome</h3>
          </div>
        </div>
        <div id="download-div">
          <img id="download" data-aos="fade-left" data-aos-duration="1000" src="img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
        </div>

    </div>
    <div class="column col-md-3" id="app-scrsh">
      <img id="app-screen" data-aos="fade-right" src="https://via.placeholder.com/400x750">
    </div>

  </div>

</header>
