<header class="header container-fluid">
  <div class="row">
    <div class="col col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="logo-motto">
          <img id="logo" data-aos="fade-up" data-aos-duration="1000" src="http://via.placeholder.com/150x150">
          <div id="hero" data-aos="fade-up" data-aos-duration="1000">
            <h1>SnapHole</h1>
            <h3>Snap a photo. Report a pothole.</h3>
            <h3>Keep Ottawa street safe & wholesome</h3>
          </div>  
        </div>
        <div id="download-div">
          <img id="download" data-aos="fade-left" data-aos-duration="1000" src="http://via.placeholder.com/250x80"> 
        </div> 

    </div>
    <div class="column col-md-3" id="app-scrsh">
      <img id="app-screen" data-aos="fade-right" src="http://via.placeholder.com/400x750">
    </div>
    
  </div>  
    
</header>
