<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-10 text-center">
        <h2 data-aos="fade-down" data-aos-duration="600">About this app</h2>
        <hr class="small">        
      </div>
    </div> <!--/row -->
    <div class="row">
      <div class="col-sm-12 col-md-4 portfolio-item text-center" data-aos="fade-left" data-aos-duration="1000">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/180x120" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">SnapHole is a citizen-led project using City of Ottawa's Open311 API. It's basically like [humorous analogy here].</p>
            <a href="#" class="btn btn-primary">Learn more about Open311</a>
          </div>  
        </div>
         
      </div>
<!--         <div class="col-12 col-md-4">
        <div class="portfolio-item">
          <div class="card" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300" style="width: 20rem;height: 24rem;">
          <img class="card-img-top" src="http://via.placeholder.com/180x120" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">If you want to contribute to this open-sourceproject, check out our GitHub repo, or join us in Ottawa Civic Tech meetups!</p>
            <a href="#" class="btn btn-primary">Help us make it better!</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="portfolio-item">
          <div class="card" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600" style="width: 20rem; height: 24rem;">
          <img class="card-img-top" src="http://via.placeholder.com/180x120" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">We would love to hear your thought about this app! Tell us via email, tweets or appstore reviews. (especially if you love it!)</p>
            <a href="#" class="btn btn-primary">Leave us a review</a>
          </div>
        </div>
        </div>
      </div> -->
    </div> <!-- /.row -->
    
  </div>
  <!-- /.container -->
</section>
