<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-10 text-center">
        <h2 data-aos="fade-down" data-aos-duration="600" id="about-org">About this app</h2>
        <hr class="small">
      </div>
    </div> <!--/row -->

    <div class="row">
      <div class="col-sm-4 col-md-4" data-aos="fade-up"
      data-aos-duration="1000">
        <div class="thumbnail">
          <img src="https://via.placeholder.com/180x120" alt="Open 311 Logo">
          <div class="caption text-center">
            <p>SnapHole is a citizen-led project using City of Ottawa's Open311 API. It's basically like [humorous analogy here].</p>
            <p><a href="#" class="btn btn-dark" role="button">Learn more about Open311</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4" data-aos="fade-up"
      data-aos-duration="1000" data-aos-delay="300">
        <div class="thumbnail">
          <img src="https://via.placeholder.com/180x120" alt="Ottawa Civic Tech Logo">
          <div class="caption text-center">
            <p>If you want to contribute to this open-sourceproject,
            check out our GitHub repo, or join us in Ottawa Civic Tech meetups!</p>
            <p><a href="#" class="btn btn-dark" role="button">Help us make it better!</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4" data-aos="fade-up"
      data-aos-duration="1000" data-aos-delay="600">
        <div class="thumbnail">
          <img src="https://via.placeholder.com/180x120" alt="Review our app">
          <div class="caption text-center">
            <p>We would love to hear your thought about this app!
            Tell us via email, tweets or appstore reviews. (especially if you love it!)</p>
            <p><a href="#" class="btn btn-dark" role="button">Leave us a review</a></p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
    <!--data-aos="fade-left"
      data-aos-duration="1000" data-aos-delay="600" -->
  </div>
  <!-- /.container -->
</section>
